Source: faultstat
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               libncurses-dev,
               libncursesw5-dev
Homepage: https://github.com/ColinIanKing/faultstat

Package: faultstat
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: page fault monitoring tool
 Faultstat reports the page fault activity of processes
 running on a system. The tool supports a 'top' like mode
 to dynamically display the top page faulting processes.
